/* Resetting Margin and Padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light background color */
    color: #333;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
}

/* HEADERS AND FOOTERS BELOW */

/* HEADER STYLING */
header {
    margin-top: 15px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666;
}

header nav ul {
    margin-bottom: 20px;
    list-style-type: none; /* Remove bullet points from list */
    padding: 0; /* Remove padding */
}

header nav ul li {
    display: inline; /* Display list items in a line */
    margin: 0 15px; /* Space between items */
}

header nav ul li a {
    color: black; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make text bold */
}

header nav ul li a:hover {
    text-decoration: underline; /* Underline on hover */
}

/* FOOTER STYLING */
footer {
    font-size: 0.9rem;
    color: #999;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
}

/* MAIN PAGE CONTENT CHANGED BELOW */